McpExternals/CheatEngine.Mcp-2.0.0-beta.2-win-x64
.vscode
__pycache__/
FakeCode/ghidra_refresh_20261003
FakeCode/ghidra_disassembly
Output/2026-10-3-process1
Output/2026-10-4-process2
Output/cycle_count
Output/ghidra_refresh_20261003
Output/opcodes
LearnTradeHardWay.md